@{
    ViewBag.Title = "Contact";
}
    <div class="jumbotron">
        <h2>Stephen Knotek</h2>
        <address>
            <strong>Email: </strong>   <a href="mailto:stephenknotek@gmail.com">stephenknotek@gmail.com</a><br />
            <strong>Github: </strong> <a href="https://github.com/Arondite">Arondite</a>
        </address>
    </div>
