
@{
    ViewBag.Title = "Time Card Creation";
}

    <h2>Time Card Creation</h2>

    <div class="container-fluid">
        <div class="container">
            <h1>User Log In</h1>
            <br><br>
            <form action="" method="post" class="form-horizontal" id="login">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-5">
                        <input name="username" type="text" required="required" id="username" maxlength="50" class="form-control">
                    </div>
                    <br><br>
                </div>
            </form>
        </div>
    </div>